<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">
    <script src="./personalPage.js" defer></script>
    <script src="./logOut.js" defer></script>
</head>

<body onload="isUserLoggedIn(), loadPurchaseHistory()">

    <header>
        <a class="navbar-brand" href="./index.html"><img src="/images/logo.png" class="site-logo"></a>
        <div>
    </header>
    <video autoplay muted loop class="background-video">
        <source src="/videos/mainvideo.mp4" type="video/mp4">
    </video>
    </div>

    <div class="profile">
        <h2 id="usernameDisplay"> Welcome back, [User Name]</h2>
    </div>




    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <a class="navbar-brand" href="./index.html"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">

                    <li class="nav-item">
                        <a class="nav-link, navlog" href="" onclick="logOut(), isUserLoggedIn()">Log Out</a>
                    </li>
                    <li><button id="deleteAccountbtn" onclick="personalPageDivDeleteAccount()" type="button"
                            class="personalbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Delete Account
                        </button>
                    </li>
                    <li><button id="chnagePasswordbtn" onclick="personalPageDivChangePass()" type="button"
                            class="personalbtn" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                            Change Password
                        </button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


    <main>


        <!-- <select onchange="personalPageDivChangePass()" id="personalPageSelect" class="form-select"
            aria-label="Default select example">
            <option selected value="0">Account Settings</option>
            <option value="1"> -->
        <!-- <button id="chnagePasswordbtn" onclick="personalPageDivChangePass()" type="button" class="personalbtn"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Change Password
                </button> -->
        <!-- </option> -->
        <!-- <option value="2"> -->
        <!-- <button id="deleteAccountbtn" onclick="personalPageDivDeleteAccount()" type="button" class="personalbtn"
                    data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                    Delete Account
                </button> -->
        <!-- </option> -->
        <!-- </select> -->



        <div class="profile id=usernameDisplay">
            <h3>Purchase History</h3>
            <h5 id="purchaseHistory"></h5>
            <!-- purchase history -->
        </div>


        <video autoplay muted loop class="personalVid">
            <source src="/videos/mainvideo.mp4" type="video/mp4">
        </video>

        </div>




        <!-- Button trigger modal -->
        </div>
        <!-- Modal -->
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
            aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content" id="personalPageDiv">

                </div>
            </div>
        </div>
    </main>

    <div id="loading">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</body>

</html>